@font-face {
    font-family: 'Matisse Pro EB';
    src: local('FOT-Matisse Pro EB'),
        url('FOT-Matisse Pro EB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007F; /* Basic Latin */
}

@font-face {
    font-family: 'Matisse Pro EB [full-range]';
    src: local('FOT-Matisse Pro EB'),
        url('FOT-Matisse Pro EB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TeXGyreHerosCondensed';
    src: local('TeXGyreHerosCondensed-Bold'),
        url('TeXGyreHerosCondensed-Bold.woff2') format('woff2'),
        url('TeXGyreHerosCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matisse Pro L';
    src: local('FOT-Matisse Pro L'),
        url('FOT-Matisse Pro L.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro 45 Light';
    src: url('helvetica_neue_lt_pro_45_light-webfont.woff2') format('woff2'),
         url('helvetica_neue_lt_pro_45_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro 45 Light [full-range]';
    src: local('Helvetica Neue LT Pro 45 Light'),
        url('Helvetica Neue LT Pro 45 Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matisse Pro B';
    src: local('FOT-Matisse Pro B'),
        url('FOT-Matisse Pro B.woff').format('woff');
    font-style: normal;
    font-display: swap;
}

/*
@font-face {
    font-family: 'Corbert';
    src: local('Corbert'),
        url('Corbert-Regular.woff').format('woff');
    font-style: normal;
    font-display: swap;
}
*/

@font-face {
    font-family: 'Corbert';
    src: url('corbert-regular-webfont.woff2').format('woff2'),
         url('corbert-regular-webfont.woff').format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*@font-face {
    font-family: 'Times New Roman [sc]';
    src: url('times_new_roman-webfont.woff2') format('woff2'),
         url('times_new_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on April 13, 2025 */

@font-face {
    font-family: 'Times New Roman Regular [sc]';
    src: url('times-webfont.woff2') format('woff2'),
         url('times-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Times New Roman Bold [sc]';
    src: url('timesbd-webfont.woff2') format('woff2'),
         url('timesbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Times New Roman Bold Italic [sc]';
    src: url('timesbi-webfont.woff2') format('woff2'),
         url('timesbi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Times New Roman Italic [sc]';
    src: url('timesi-webfont.woff2') format('woff2'),
         url('timesi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}
