html {
    color: white;
    background: #141414;
    padding: 0%;
    letter-spacing: -0.007em;
    text-align: left;
    font-weight: normal;
    overflow-x: hidden;
}

* {
    transition: 250ms;
}

*:hover {
    transition: 250ms;
}

body {
    margin: 0;
}

::selection {
    color: black;
    background: white;
    text-shadow: 0 0 20px black;
}

::-webkit-resizer {
    background: #222;
    border: 2px solid;
    border-color: transparent orangered orangered transparent;
}

div.innerContent {
    margin-left: 25%;
    padding: 1px 16px;
    padding-left: 5vw;
    padding-right: 5vw;
    height: fit-content;
    background: #141414;
    /* font-family: 'Helvetica Neue LT Pro 45 Light', sans-serif; */
    font-family: monospace;
    /* letter-spacing: 0.5px; */
    text-shadow: 0px 0px 10px #ffffff;
}

div.player {
    background: #111;
    border: 2px solid #222;
    padding: 5px;
    border-radius: 4px;
}
button.player {

    background: #222;
    color: white;
    padding: 7px;
    border: 2px solid #333;
    border-radius: 3px;
}

div.eva-heading {
    padding-right: 2vw;
    padding-left: 0vw;
    padding-top: 1vw;
}

h2.solarsicom {
    font-family: Matisse Pro EB, Times New Roman;
    font-size: 40px;
    letter-spacing: -.07em;
    -webkit-transform: scaleY(1.43);
    transform: scaleY(1.43);
    text-align: left;
    font-weight: normal;
    margin-bottom: -30px;
    margin-top: 6px;
    font-weight: bolder;
}

h2.sc-small {
    font-size: 24px;
    margin-top: 12px;
}

h3.solarsicom-subtitle {
    font-family: 'TeXGyreHerosCondensed', sans-serif;
    -webkit-transform: scaleY(1.0927835051546391752577319587629);
    transform: scaleY(1.0927835051546391752577319587629);
    letter-spacing: 0;
    font-size: 23.7px;
    line-height: 23.7px;
}

p.solarsicom-subtext {
    font-family: Times New Roman;
    letter-spacing: -.07em;
    -webkit-transform: scaleY(1.43);
    transform: scaleY(1.43);
    font-size: 23.37px;
    font-weight: bolder;
    display: flex;
    line-height: 20px;
    justify-content: flex-end;
    border-bottom: 1px solid #353535;
    box-shadow: 0px 7px 3px #35353566;
}

ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 25%; */
    width: 23%;
    background-color: #111;
    position: fixed;
    height: 100%;
    overflow: auto;
    background: url("/wallpaper");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 20px 0px black;

    /* font-family: 'Helvetica Neue LT Pro 45 Light', sans-serif; */
    font-family: monospace;
    /* letter-spacing: 1px; */
}

ul.dashboard {
    height: fit-content;
    width: -webkit-fill-available;
    position: inherit;
    border: 4px solid transparent;
    padding: 8px 16px;
}

a {
    color: red;
}

a:not(li a) {
    /*
    color: red;
    text-shadow: 0 0 10px #ff0000;
    text-decoration: none;
    */

    color: red;
    text-shadow: -5px 0px 4px #ff000094, 5px 0px 4px #ff000091;
    text-decoration: none;
    background: #00000047;
    border: 2px solid #00000047;
    padding: 3px;
    border-radius: 2px;
    outline: 1px solid #33333347;
    transition: 1000ms;
}

a:not(li a):hover {
    box-shadow: 0 0 2.5px 0px red;
    transition: 10ms;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 150ms;

    display: flex;
    align-items: center;
    justify-content: unset;
    white-space: pre-wrap;
}

li a.active {
    background: linear-gradient(45deg, transparent, #ff00008f);
    color: #ff8888;
    font-weight: 900;
    text-shadow: 0px 0px 10px red;
    transition: 150ms;
}

li a:hover {
    background: linear-gradient(45deg, #00000000, #c8f2ff47);
    color: white;
    text-shadow: 10px 6px 7px white;
    font-size: 19px;
    transition: 150ms;

    box-shadow: 0 0 4px 0px white;
    border-radius: 4.7px;

}

li a.active:hover {
    background: linear-gradient(45deg, #c8f2ff47, #ff00008f);
    transition: 150ms;
}

li a img.navigation {
    -webkit-user-drag: none;
    user-select: none;
    height: 30px;
    grid: initial;
    display: inline-grid;
}

.sc-chan {
    position: fixed;
    z-index: 999999;
    display: flex;
    bottom: 1;
    right: 1;
    background: none;
    outline: none;
    max-height: 500px;
    opacity: 0;

    transition: 1000ms;
}

.sc-chan:hover {
    filter: drop-shadow(12px 14px 1px rgba(0, 200, 200, 0.3)) drop-shadow(-26px -15px 4px rgba(2000, 0, 200, 0.2));
    box-shadow: none;

    transition: 100ms;
}

img:not(ul img):not(span img) {
    background: url('/imageR.png');
    background-attachment: fixed;
    background-size: 2%;
    background-repeat: repeat;
    backdrop-filter: opacity(0.5);
    border-radius: 2px;
    outline: 1px solid #333;
    transition: 1000ms;
}

img:not(ul img):not(span img):hover {
    box-shadow: 0 0 2.5px 0px white;
    transition: 10ms;
}


/*
.logo-text{
    padding-top: 0.2em;
    width: 100%;
    height: fit-content;
    font-size: 50px;
    display: flex;
    align-items: flex-start;
    text-shadow: 1.7px 0px 0px white;
    font-family: corbel;
}
*/

.logo-text{
    padding-top: 1.4px;
    padding-left: 10px;
    height: fit-content;
    font-size: 45px;
    display: flex;
    align-items: flex-start;
    text-shadow: 4px 0px 0px white, 2px 0px 0px white, 0 0px 6px white;
    font-family: Corbert;
    justify-content: flex-start;

    transform: scalex(0.91);
    letter-spacing: 1.9px;
    left: 87px;
    position: absolute;
}
.logo-text::selection{
    text-selection: 4px 0px 0px white, 2px 0px 0px white, 0 0px 6px white;
}
.logo-holder{
    display: inline-flex;
    padding: 10px;
}
.logos{
    padding-bottom: 10px;
    -webkit-user-drag: none;
    /* background-image: url(/solarsicom);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center; */
}


ol a {
    text-decoration: none;
    background: none;
    border: none;
    display: auto;
    padding: 4 4;
    width: fit-content;
}

ol a:hover:not(.active) {
    background: #141414;
    color: white;
    font-weight: 999;
}

ol.socials li a {
    background: #000;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: 2px solid #000;
    padding: 12px 0px 14px 10px;
    border-radius: 2px;
    outline: 1px solid #333;
    user-select: none;
    margin-top: 6px;
    width: -webkit-fill-available;
}

ol.socials li a {
    background: linear-gradient(45deg, #00000000, #c8f2ff47);
}

input {
    border: 1px solid #353535;
    border-radius: 2px;
    background: #222;
    color: white;
    height: 30px;
    width: -webkit-fill-available;
}

textarea {
    border: 1px solid #353535;
    border-radius: 2px;
    background: #222;
    color: white;
    width: 97%;
    transition: none;
}

textarea::selection {
    color: white;
    background: #494949a6;
    text-shadow: 0px 2px 2px white;
}

p {
    font-size: 18px;
}

p.messages {
    transition: 1000ms;
    border-radius: 2px;
    outline: 1px solid #333;
}

p.messages:hover {
    box-shadow: 0 0 4px 0px white;
    border-radius: 4.7px;
    text-shadow: 0px 0px 20px #ffffff;
    transition: 10ms;
}

p.deleted {
    color: #777;
    outline: 1px solid #222;
}

p.deleted:hover {
    box-shadow: 0 0 4px 0px #777;
    text-shadow: 0px 0px 10px #777;
}

div.profile-info {
    background: rgb(12, 12, 12);
    background-image: url(/uploads/pexels-maria-laura-catalogna-15983257-136.jpg);
    background-size: 100%;
    background-attachment: local;
    background-position: center;
}

p.description {
    background: #11111182;
    height: 94px;
    height: 4.5vw;
    width: 46vw;
    padding: 10px;
    word-break: break-word;
    max-height: 200px;
    overflow-y: auto;

    border-radius: 2px;
    outline: 1px solid #333;

    transition: 1000ms;
}

p.description:hover {
    /* box-shadow: 0 0 2.5px 0px white; */
    box-shadow: 0 0 4px 0px white;
    transition: 10ms;
}

.user-info {
    background: #11111182;
    height: 94px;
    width: 46vw;
    padding: 10px;
    word-break: break-word;
    max-height: 200px;
    overflow-y: auto;

    border-radius: 2px;
    outline: 1px solid #333;

    transition: 1000ms;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    height: 2vw;
    overflow: hidden;
}

.user-info:hover {
    box-shadow: 0 0 2.5px 0px white;
    transition: 10ms;
}

img.hover-react:hover {
    box-shadow: 0 0 4px 0px white;
    border-radius: 4.7px;
}

p.error {
    font-weight: 999;
    font-family: 'Matisse Pro EB', Times New Roman;
    font-size: 15px;
    transform: scaleY(1.43);
    padding: 10px;
    letter-spacing: -.07em;
    background: url(/wallpaper);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: red;
    text-shadow: 0 0 10px #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;


    box-shadow: 2px 2px 20px 0px black;
}

span.id {
    position: absolute;
    right: 1.5%;
    color: #ffffff40;
    font-size: 15px;
    font-style: normal;
    display: none;
}

p.messages:hover span.id {
    display: inline;
}

span.blank {
    display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #00000000, #c8f2ff47, transparent); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, transparent, #ff00008f, transparent); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #00000000, #c8f2ff99, transparent); 
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: rgb(64, 64, 64);

    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 4px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='red'><polygon points='50,00 0,50 100,50'/></svg>");
}
/*
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}
*/

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='darkred'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='crimson'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='red'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='darkred'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='crimson'><polygon points='0,0 100,0 50,50'/></svg>");
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    height: 17px;
    width: 17px;
    background-position: 3px 2px;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='red'><polygon points='0,50 60,100 60,0'/></svg>");

}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='darkred'><polygon points='0,50 60,100 60,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='crimson'><polygon points='0,50 60,100 60,0'/></svg>");
}

/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
    height: 12px;
    width: 12px;
    background-position: 3px 2px;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='red'><polygon points='0,0 0,100 60,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='darkred'><polygon points='0,0 0,100 60,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='crimson'><polygon points='0,0 0,100 60,50'/></svg>");
}

div#video-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
/*
    border-radius: 7px;
    border: 1px solid #f00;
*/
    height: fit-content;
    padding: 7px;
    overflow-x: auto;

    background: url(/wallpaper);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 2px 2px 20px 0px black;
}

div.content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
/*
    border-radius: 7px;
    border: 1px solid #f00;
*/
    height: fit-content;
    padding: 7px;
    overflow-x: auto;

    background: url(/wallpaper);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 2px 2px 20px 0px black;

    border-radius: 2px;
    outline: 1px solid #333;

}

#content-element {
    border: 1px solid #111;
    padding: 15px;
    background: #111;
    border-radius: 4.7px;
    margin: 10px;
    text-shadow: none;
    outline: 1px solid #333;
    /* box-shadow: 0px 0px 2px 0px #ffffff; */
    transition: 1000ms;
}

#content-element:hover {
    box-shadow: 0 0 4px 0px white;
    text-shadow: 0px 0px 20px #ffffff;
    transition: 10ms;
}

h3#toggle {
	text-decoration: none;
   	background: #000;
    	border: 2px solid #000;
   	padding: 6px;
  	border-radius: 2px;
  	outline: 1px solid #333;
  	user-select: none;
}

.editable {
    background: #000;
    border: 10px solid #000;
    padding: 10px;
    resize: both;
    overflow: auto;
    min-width: fit-content;
    max-width: -webkit-fill-available;
    min-height: min-content;
    max-height: max-content;
    transition: none;
}

span.media-posts {
    display: flex;
    flex-wrap: wrap;
}

p.media-messages {
    border: 10px solid #111;
    background: #111;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    /* width: 325px; */
    width: 17vw;
    height: 340px;
}

p.media-messages b {
    white-space: nowrap;
    width: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
}

p.media-messages video {
    /* width: 325px; */
    width: 17vw;
    height: 200px;
}

p#createPost {
    border: 10px solid rgb(12, 12, 12);
    background: rgb(12 12 12);
    border-radius: 2px;
    outline: 1px solid #353535;
}

p#createPost input {
    background: #111;
}

p#createPost textarea {
    background: #111;
}

input#btn:hover {
    background: linear-gradient(45deg, #00000000, #c8f2ff47);
    color: white;
    text-shadow: 10px 6px 7px white;
    font-size: 16px;
    transition: 150ms;
}

::file-selector-button {
    color: white;
    width: 7vw;
    height: 30px;
    border: none;
    border-radius: 2px;
    outline: 1px solid #333;
    background: rgb(12 12 12);
    transition: 1000ms;
}

::file-selector-button:hover {
    background: linear-gradient(45deg, #00000000, #c8f2ff47);
    background: #c8f2ff0a;
    transition: 100ms;
}

b.rating {

    /* border: 1px solid #353535; */
    outline: 1px solid #333;
    color: #ffffff8c;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
    display: block;
    background: rgb(12, 12, 12);
    font-weight: 100;
    height: 30px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    --webkit-user-select: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    justify-content: space-around;
    
}

b.rating:hover {
    box-shadow: 0 0 4px 0px white;
    border-radius: 4.7px;
    text-shadow: 0px 0px 10px #ffffff85;
    transition: 10ms;
}

b.rating .moreOptions {
    display: inline-flex;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    width: 72%;
}

b.disabled {
    color: #777;
    outline: 1px solid #222;
}

b.disabled:hover {
    box-shadow: 0 0 4px 0px #777;
    text-shadow: 0px 0px 10px #777;
}

i.icon-use:hover {
    text-shadow: 0px 0px 2px #fffff0;
    color: #ffffff8f;
    transition: 10ms;
}

i.icon-no-use:hover {
    text-shadow: 0px 0px 2px #fffff0;
    color: #ffffff8f;
    transition: 10ms;
}

i.active {
    color: red;
}

i.active:hover {
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
}

.icon-option:hover {
    text-shadow: 0px 0px 2px #fffff0;
    color: #ffffff8f;
    transition: 10ms;
}

video {
    border-radius: 2px;
    outline: 1px solid #333;
}

video:hover {
    box-shadow: 0 0 2.5px 0px white;
    transition: 10ms;
}

.file-type-error {
    background: linear-gradient(180deg, #3a3a3a, #000000);
    color: #ffffffbd;
    padding: 10px;
    font-style: italic;
    font-weight: 999;
    letter-spacing: -0.2px;
    display: block;
    border-radius: 2px;
    outline: 1px solid #333;
    transition: 1000ms;
}

.file-type-error:hover {
    box-shadow: 0 0 2.5px 0px white;
    transition: 10ms;
}

@media screen and (max-width: 1400px) {
    .logo-text {
        padding-top: 14.4px;
        font-size: 30px;
    }
}

/* Add media query for screens smaller than 600px */
@media screen and (max-width: 1100px) {
  ul:not(ul.dashboard) {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    background-attachment: fixed;

  }
  
  div.innerContent {
      margin-left:0%;
      padding-top:10px; /* Add some space between the navigation bar and the content */
      padding-left: 10vw;
      padding-right: 10vw;

  }
  
  li a {
    display: block;
    width: max-content;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 150ms;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    }

    div.eva-heading {
        padding-right: 2vw;
        padding-left: 2vw;
        padding-top: 1vw;
    }

    /*
    h2.solarsicom {
        font-family: Matisse Pro EB, Times New Roman;
        font-size: 40px;
        letter-spacing: -.07em;
        -webkit-transform: scaleY(1.43);
        transform: scaleY(1.43);
        text-align: left;
        font-weight: normal;
        margin-bottom: -17px;
        margin-top: 12px;
    }

    h3.solarsicom-subtitle {
        font-size: 10.7px;
    }

    p.solarsicom-subtext {
        line-height: 13px;
        font-size: 9px;
    }
    */

    label:not(.container) {
        display: inline-flex;
        width: 12%;
    }

    input {
        width: 87%;
    }

    span.blank, span.logo-text {
        display: none;
    }

    span.id {
        right: 2.5%;
    }

    i.timestamp {
        font-size: 1.7vw;
    }
    
    ::file-selector-button {
        color: white;
        width: 9vw;
        height: 30px;
        border: none;
        border-radius: 2px;
        outline: 1px solid #333;
        background: rgb(12 12 12);
        transition: 1000ms;
    }

}

/* ⇲⇱⌂ */